{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="jumbotron">
  <div class="container text-center">
      <h1>Emerald Isle Jewelry</h1>
      <p>Made with love in Ireland</p>
      <a class="btn btn-primary" href="{% url 'products' %}" role="button">Shop Now</a>
  </div>
</section>

  <!-- Catergories -->
    <section class="container my-5">
      <h2 class="text-center">Product Categories</h2>
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="card">
                  <img src="/media/Pewter_Celtic_Cross_1024x1024.jpg" class="card-img-top" alt="Category Image Celtic Cross">
                  <div class="card-body">
                      <h5 class="card-title">Celtic Crosses</h5>
                      <p class="card-text"> All Celtic Crosses.</p>
                      <a href="#" class="btn btn-primary">View Products</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card">
                  <div class="card-body">
                      <img src="/media/Emerald_Claddagh_Ring_1024x1024.jpg" class="card-img-top" alt="Category Image Claddagh Ring Category">
                      <h5 class="card-title">Claddagh Ring</h5>
                      <p class="card-text">All Claddagh Rings</p>
                      <a href="#" class="btn btn-primary">View Products</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <img src="/media/14KT_Gold_Trinity_Stud_Earrings.jpg" class="card-img-top" alt="Category Image Celtic Earrings">
              <div class="card-body">
                <h5 class="card-title">Celtic Earrings</h5>
                <p class="card-text">All Celtic Earrings.</p>
                <a href="#" class="btn btn-primary">View Products</a>
              </div>
            </div>
          </div>  
          <div class="col-lg-3 col-md-6">
            <div class="card">
              <img src="/media/Shamrock_Brooch_large.jpg" class="card-img-top" alt="Category Image Brooches">
              <div class="card-body">
                <h5 class="card-title">Brooches</h5>
                <p class="card-text">Irish Brooches</p>
                <a href="#" class="btn btn-primary">View Products</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  

  <!-- Featured Products -->
  <section class="container my-5">
    <h2 class="text-center">Featured Products</h2>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <img src="/media/Shamrock_Bangle.jpg" class="card-img-top" alt="Shamrock Bangle">
          <div class="card-body">
            <h5 class="card-title">Shamrock_Bangle</h5>
            <p class="card-text">Silver Shamrock Bangle</p>
            <a href="#" class="btn btn-primary">View Products</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <img src="/media/Trinity_Brooch.jpg" class="card-img-top" alt="Trinity Brooch">
          <div class="card-body">
            <h5 class="card-title">Trinity Brooch/h5>
            <p class="card-text">Silver Trinity Brooch.</p>
            <a href="#" class="btn btn-primary">View Products</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <img src="/media/Celtic_Cross.jpg" class="card-img-top" alt="Celtic Cross Necklace">
          <div class="card-body">
            <h5 class="card-title">Celtic Cross Necklace</h5>
            <p class="card-text">18CT Gold Celtic Cross Pendant</p>
            <a href="#" class="btn btn-primary">View Products</a>
          </div>
        </div>
      </div>  
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <img src="/media/Marble_Claddagh_Earrings.jpg" class="card-img-top" alt="Celtic Marble Earrings">
          <div class="card-body">
            <h5 class="card-title">Silver Marble Earrings</h5>
            <p class="card-text">Connemara Marble Celtic Earrings</p>
            <a href="#" class="btn btn-primary">View Products</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}